@import '../../Variable.scss';


.AcDetails{
    width: 100%;
    display: flex;
    .Ac-controller{
        display: flex;
        width: 100%;
        flex-direction: column;
        .ac-title{
            width: 100%;
            padding: 2rem 1rem;
            background-color: #05f;
            display: flex;
            .ac-passd{
                width: 100%;
                display: flex;
                align-items: center;
                .ac-arrowdf{
                    width: 100%;
                    border: 2px solid orange;
                    i{
                        font-size: 2rem;
                        color: #fff;
                    }
                }
                .ac-text{
                    font-size: 1.8rem;
                    font-family: $Roboto400-900;
                    font-weight: 600;
                    color: #fff;
                    text-transform: capitalize;
                }
            }
        }
        .ac-User{
            width: 100%;
            display: flex;
            flex-direction: column;
            .ac-img{
                width: 100%;
                display: flex;
                justify-content: center;
                img{
                    width: 10%;
                    object-fit: cover;
                }
            }
            .ac-dev{
                display: flex;
                width: 100%;
                .ac-name{
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    .ac-lo{
                        width: 100%;
                        text-align: center;
                   font-size: 1.8rem;
                   font-family: $Roboto400-900;
                   font-weight: 600;
                    }
                    .text{
                        width: 100%;
                        text-align: center;
                        font-size: 1.6rem;
                        font-family: $open400-800;
                        color: $text-color;
                    }
                }
            }
           
        }
        .Ac-form{
            display: flex;
            width: 100%;
            .form-list{
                display: flex;
                padding: 1rem 2rem;
                width: 100%;
                flex-direction: column;
                .form-divide{
                    display: flex;
        margin: 01.5rem;
        width: 100%;
                justify-content: space-between; 
                .form-left{
                    width: 49%;
                    display: flex;
                    flex-direction: column;
                    .form-label{
                        font-size: 1.5rem;
                    font-family: $mont400-900;
                    font-weight: 400;
                    }
                    .form-menu{
                        margin-top: 1rem;
                        width: 100%;
                        border: 1px solid #111;
                        display: flex;
                        input[type="text"]{
                            width: 100%;
                            border: none;
                            outline: none;
                            padding: 1.5rem 0;
                            padding-left: 1.5rem;
                            font-family: $open400-800;
                            font-weight: 600;
                        }

                    }

                }

                }
                .form-item{
                    display: flex;
            margin: 01.5rem;
            width: 100%;
                    flex-direction: column;
                    .form-label{
                        font-size: 1.5rem;
                    font-family: $mont400-900;
                    font-weight: 400;
                    }
                    .form-menu{
                        margin-top: 1rem;
                        width: 100%;
                        overflow: hidden;
                        border: 1px solid #111;
                        display: flex;
                        input[type="text"]{
                            width: 100%;
                            border: none;
                            outline: none;
                            z-index: -1;
                            left: -2rem;
                            border: 2px solid orange;
                            padding: 1.5rem 0;
                            padding-left: 1.5rem;
                            font-family: $open400-800;
                            font-weight: 600;
                        }

                    }
                }
               
               
                .form-filo{
                    display: flex;
                    z-index: 11;
                    overflow: hidden;
                    margin: 01.5rem;
                    border: 2px dashed #cac7c7;
                    position: relative;
                    background-color: #fff;

                    width: 100%;
                    input[type="file"]{
                        border: 1px solid orange;
                        position: absolute;
                        width: 0.1px;
                        left: -2rem;
                        z-index: -1;
                        height: 00.1px;
                    }
                    .fam-boi{
                        width: 100%;
                        display: flex;
                        z-index: 11;
                        background-color: #fff;
                        flex-direction: column;
                        justify-content: center;
                        cursor: pointer;
                        align-items: center;
                        padding: 3rem 0;
                        i{
                            font-size: 4rem;
                        }
                        .text{
                            font-size: 1.5rem;
                            font-family: $open400-800;
                            font-weight: 700;
                            color: $text-color;
                        }
                    }
                }
                .form-save{
                    display: flex;
                    margin: 01.5rem;
                    width: 100%;
                    .texo{
                        width: 20%;
                        font-size: 1.7rem;
                        font-family: $Roboto400-900;
                        background-color: #05f;
                        color: #fff;
                        text-align: center;
                        cursor: pointer;
                        padding: 1rem 2rem;
                    }
                    .texo:hover{
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}