$fredoka400: 'Fredoka One', cursive;
$mont400-900: 'Montserrat', sans-serif;
$open400-800: 'Open Sans', sans-serif;
$Roboto400-900: 'Roboto', sans-serif;
$white-color:#ffffff;
$logo-color:#1458ff;
$logo-icon:#34de8a;
$search-back:#eeeeee;
$square-icon:#e6e8ea;
$icon-colo:#05f;
$text-color:#888;
$confirm:#1064ff;
@mixin display($left,$right,$length,$bor-color) {
    display: flex;
    justify-content:$left;
    align-items:$right;
    width: $length;
    border: 1px solid $bor-color;
}
@mixin border($color-name) {
    border: 1px solid $color-name;
};

@mixin pos($pos,$left,$right,$top,$bottom) {
    position: $pos;
    bottom: $bottom;
    top: $top;
    left: $left;
    right: $right;
};
@mixin box($size) {
    box-shadow: 0 0 $size rgba($color: #000000, $alpha: 0.3650);
    border-radius: 1rem;
}